# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of Data Science languages
- List of Data Science Libraries
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. MySQL
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. SciPy
4. NumPy
5. Keras

| Data Science Tools |
| ------------------ |
|Jupyter Notebook| 
| Spark |
| Hadoop |

## Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
min= 200
hours= min/60
print(hours)

3.3333333333333335

## Author 
Eileen